extends layout

block content
  h1= title

  table
    thead

    tbody
      br
      tr: h2 Parent?
      tr: h2: a(href='/create') Find Your Child's Nursery >
      tr: h2 Nursery?
      tr: h2: a(href='/create') Create or Join Your Class >